<form class="deviceForm" action="/cycleIrrigation" method="POST"> 
    <label for="name">Name: </label>           
    <input type="text" id="name" name="name" value="">

    <label for="pin">Pin: </label>           
    <input type="number" id="pin" name="pin" value="">

    <label for="notes">Notes: </label>           
    <input type="textarea" id="notes" name="notes" value="">

    <div class="hr-min-sec-time">
        <label for="cycleOnTimeHr">Cycle On Time Hr:Min:Sec </label>
        <input type="number" class"cycleOnTimeHr" name="cycleOnTimeHr" step="1" value="">
        <span class="colon">:</span>   
        <input type="number" class"cycleOnTimeMin" name="cycleOnTimeMin" step="1" value="">
        <span class="colon">:</span>   
        <input type="number" class"cycleOnTimeSec" name="cycleOnTimeSec" step="1" value="">
    </div>

    <div class="hr-min-sec-time">
        <label for="cycleOffTimeHr">Cycle Off Time Hr:Min:Sec </label>
        <input type="number" class"cycleOffTimeHr" name="cycleOffTimeHr" step="1" value="">
        <span class="colon">:</span>   
        <input type="number" class"cycleOffTimeMin" name="cycleOffTimeMin" step="1" value="">
        <span class="colon">:</span>   
        <input type="number" class"cycleOffTimeSec" name="cycleOffTimeSec" step="1" value="">
    </div>


    <label for="blackoutStartTime">Blackout Start Time</label>
    <input type="time" id"blackoutStartTime" name="blackoutStartTime" value="">

    <label for="blackoutStopTime">Blackout Stop Time</label>
    <input type="time" id"blackoutStopTime" name="blackoutStopTime" value="">

    <button type="submit" class="form-submit">Add</button>
    <button type="button" class="form-cancel">Cancel</button>
</form>