<div id="container">
    <header id="header">
        <button id="header-btn">Settings</button>
        <button id="header-btn">Add Device</button>
    </header>
    <div id="main-area">
        <button id="make-appear">makeappear</button> 
    </div>
</div> 
<script src="/js/device.js" type="module"></script>
<script src="/js/irrigation-device.js" type="module"></script>
<script src="/js/main.js" type="module"></script>