<div id="container">
    <header>
        <div>
            <button class="header-btn" onclick="window.location.href='/settings'">Settings</button>
        </div>
        <div>
            <button class="header-btn" id="statistics-btn">Statistics</button>
        </div>
        <div>
            <button class="header-btn" id="drop-btn">Add Device</button>
            <div id="dropdown-content" class="noshow">
                <a href="/cycleIrrigation">Cycle Irrigation</a>
                <a href="/irrigation">Irrigation</a>
                <a href="#">Heater</a>
                <a href="#">Humidifier</a>
                <a href="#">Soil Moisture Sensor</a>
            </div>
        </div>
    </header>
    <div id="main-area">
    </div>
</div> 