<form class="deviceForm" id="deviceForm" action="/irrigation" method="POST"> 
    <label for="name">Name: </label>           
    <input type="text" id="name" name="name" value="">

    <label for="pin">Pin: </label>           
    <div class="pin-numbers"></div>

    <label for="notes">Notes: </label>           
    <input type="textarea" id="notes" name="notes" value="">

    <div class="daysToIrrigate">
        <label class="day day-off" id="monday" for="monday">Monday
        <input type="checkbox" name="monday" value="Monday"></label>
        <label class="day day-off" id="tuesday" for="tuesday">Tuesday
        <input type="checkbox" name="tuesday" value="Tuesday"></label>
        <label class="day day-off" id="wendesday" for="wendesday">Wendesday
        <input type="checkbox" name="wendesday" value="Wendesday"></label>
        <label class="day day-off" id="thursday" for="thursday">Thursday
        <input type="checkbox" name="thursday" value="Thursday"></label>
        <label class="day day-off" id="friday" for="friday">Friday
        <input type="checkbox" name="friday" value="Friday"></label>
        <label class="day day-off" id="saturday" for="saturday">Saturday
        <input type="checkbox" name="saturday" value="Saturday"></label>
        <label class="day day-off" id="sunday" for="sunday">Sunday
        <input type="checkbox" name="sunday" value="Sunday"></label>
    </div>

    <div class="times-div">
        <div class="hr-min-sec-time">
            <label for="cycleOnTimeHr" class="cycleOnTime">Cycle On Time Hr:Min:Sec </label>
            <input type="number" class"cycleOnTimeHr" name="cycleOnTimeHr" step="1" value="">
            <span class="colon">:</span>   
            <input type="number" class"cycleOnTimeMin" name="cycleOnTimeMin" step="1" value="">
            <span class="colon">:</span>   
            <input type="number" class"cycleOnTimeSec" name="cycleOnTimeSec" step="1" value="">
        </div>

        <div class="on-times">
            <label for="onTime">On Time(s)</label>
            <div>
                <input type="time" name="onTime"><span></span>
            </div>
        </div>
        <button type="button" class="delete-btn">Delete</button>
    </div>
    <button type="button" id="addAnothertime">Add Another Time</button>

    <button type="submit" class="form-submit">Add</button>
    <button type="button" class="form-cancel" onclick = "window.location.href = '/';">Cancel</button>
</form>

<script src="/js/irrigation.js"></script>
